adf/pipeline/config_InitializeHub.json
{
	"name": "config_InitializeHub",
	"properties": {
		"activities": [
			{
				"name": "Get Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "config",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set Version",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "version",
					"value": {
						"value": "@activity('Get Config').output.firstRow.version",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Scopes",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "scopes",
					"value": {
						"value": "@string(activity('Get Config').output.firstRow.scopes)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Retention",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "retention",
					"value": {
						"value": "@string(activity('Get Config').output.firstRow.retention)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until Capacity Is Available",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set Version",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Scopes",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Retention",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('tryAgain'), false)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Confirm Ingestion Capacity",
							"type": "AzureDataExplorerCommand",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"command": ".show capacity | where Resource == 'Ingestions' | project Remaining",
								"commandTimeout": "00:20:00"
							},
							"linkedServiceName": {
								"referenceName": "hubDataExplorer",
								"type": "LinkedServiceReference",
								"parameters": {
									"database": null
								}
							}
						},
						{
							"name": "If Has Capacity",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Confirm Ingestion Capacity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(equals(activity('Confirm Ingestion Capacity').output.count, 0), greater(activity('Confirm Ingestion Capacity').output.value[0].Remaining, 0))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait for Ingestion",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 15
										}
									},
									{
										"name": "Try Again",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Wait for Ingestion",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "tryAgain",
											"value": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set ingestion policy in ADX",
										"type": "AzureDataExplorerCommand",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"command": {
												"value": "TODO",
												"type": "Expression"
											},
											"commandTimeout": "00:20:00"
										},
										"linkedServiceName": {
											"referenceName": "hubDataExplorer",
											"type": "LinkedServiceReference",
											"parameters": {
												"database": null
											}
										}
									}
								]
							}
						}
					]
				},
				"timeout": "0.02:00:00"
			},
			{
				"name": "Timeout Error",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Until Capacity Is Available",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Data Explorer ingestion timed out after 2 hours while waiting for available capacity. Please re-run this pipeline to re-attempt ingestion. If you continue to see this error, please report an issue at https://aka.ms/ftk/ideas.",
					"errorCode": "DataExplorerIngestionTimeout"
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"retention": {
				"type": "String"
			},
			"scopes": {
				"type": "String"
			},
			"tryAgain": {
				"type": "Boolean",
				"defaultValue": true
			},
			"version": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-31T12:39:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}